<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/master.css">
    <title>Euro 2020 Sweepstakes Leaderboard</title>
  </head>
  <h1>Euro 2020 Sweepstakes Leaderboard</h1>
  <h2>It <i>should</i> update live! Maybe not! Who knows!</h2>
  <h4>'T2' means 'Top 2 in their group, just scroll down</h4>
  <body>
<% for (i = 0;i < players.length; i++) { %>
    <table class='position' style="width:50%; text-align: center">
  <tr>
    <th><%=i + 1%></th>
    <th><%=players[i].name%></th>
    <th>Teams</th>
    <!-- <th>Flags</th> -->
    <th>Odds</th>
    <th>T2 <i>(1/3 points)</i></th>
    <!-- <th>Points</th> -->
    <th>Total
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[0]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[0]%></td>
    <td><% if (players[i].teamRanks[0] === 1 || players[i].teamRanks[0] === 2) {%>
          <%=players[i].teamOdds[0] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[0] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[1]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[1]%></td>
    <td><% if (players[i].teamRanks[1] === 1 || players[i].teamRanks[1] === 2) {%>
          <%=players[i].teamOdds[1] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[1] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
    <td class='total'><%=players[i].playerPoints%></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[2]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[2]%></td>
    <td><% if (players[i].teamRanks[2] === 1 || players[i].teamRanks[2] === 2) {%>
          <%=players[i].teamOdds[2] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[2] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[3]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[3]%></td>
    <td><% if (players[i].teamRanks[2] === 1 || players[i].teamRanks[2] === 2) {%>
          <%=players[i].teamOdds[2] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[2] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
</table>
<% } %>
  </body>
</html>
