<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/master.css">
    <title>Euro 2020 Sweepstakes Leaderboard</title>
  </head>
  <h1>Euro 2020 Sweepstakes Leaderboard</h1>
  <h2>It <i>should</i> update live! Maybe not! Who knows!</h2>
  <h4>'T2' means 'Top 2 in their group, just scroll down</h4>
  <body>
<% for (i = 0;i < players.length; i++) { %>
    <table class='position' style="width:100%; text-align: center">
  <tr>
    <th><%=i + 1%></th>
    <th><%=players[i].name%></th>
    <th>Teams</th>
    <!-- <th>Flags</th> -->
    <th>Odds</th>
    <th>T2 <i>(1/3 points)</i></th>
    <!-- <th>Points</th> -->
    <th>Total
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[0]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[0]%></td>
    <td><% if (players[i].teamRanks[0] === 1 || players[i].teamRanks[0] === 2) {%>
          <%=players[i].teamOdds[0] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[0] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[1]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[1]%></td>
    <td><% if (players[i].teamRanks[1] === 1 || players[i].teamRanks[1] === 2) {%>
          <%=players[i].teamOdds[1] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[1] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
    <td class='total'><%=players[i].playerPoints%></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[2]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[2]%></td>
    <td><% if (players[i].teamRanks[2] === 1 || players[i].teamRanks[2] === 2) {%>
          <%=players[i].teamOdds[2] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[2] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%=players[i].teams[3]%></td>
    <!-- <td>Jill</td> -->
    <td><%=players[i].teamOdds[3]%></td>
    <td><% if (players[i].teamRanks[2] === 1 || players[i].teamRanks[2] === 2) {%>
          <%=players[i].teamOdds[2] * (1/3) %>
          <% } else { %>
            <%=players[i].teamOdds[2] * (0) %>
          <% } %>
    </td>
    <!-- <td>50</td> -->
  </tr>
</table>
<% } %>

  <iframe id="sofa-standings-embed-1688-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/1688/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-1688-26542"));    </script>  <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
    <iframe id="sofa-standings-embed-1685-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/1685/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-1685-26542"));    </script>  <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
      <iframe id="sofa-standings-embed-1686-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/1686/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-1686-26542"));    </script>   <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
        <iframe id="sofa-standings-embed-1687-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/1687/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-1687-26542"));    </script>   <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
          <iframe id="sofa-standings-embed-50059-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/50059/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-50059-26542"));    </script>  <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
            <iframe id="sofa-standings-embed-50060-26542" width="100%" height="269"    src="https://www.sofascore.com/tournament/50060/26542/standings/tables/embed" frameborder="0" scrolling="no" style="height:269px!important">  </iframe>  <script>    (function (el) {      window.addEventListener("message", (event) => {        if (event.origin.startsWith("https://www.sofascore")) {          if (el.id === event.data.id) {            el.style.height = event.data.height + "px";          }        }      });    })(document.getElementById("sofa-standings-embed-50060-26542"));    </script>   <script type="text/javascript" src="https://www.sofascore.com/bundles/sofascoreweb/js/bin/util/embed.min.js">  </script>
  </body>
</html>
